@charset "UTF-8";
/*variables*/
/*variables*/
/*variables*/
/*variables*/
/*variables*/
/*variables*/
.footer {
  background-color: #000000;
  padding: 5px 5px;
  align-items: center;
  font-family: "Montserrat";
  font-weight: 700; }
  .footer__div {
    display: flex;
    justify-content: center; }
    @media only screen and (min-width: 1024px) {
      .footer__div__logo {
        height: 100px; } }
    @media only screen and (max-width: 768px) {
      .footer__div__logo {
        height: 80px;
        padding-left: 25px; } }
    .footer__div__title {
      font-family: "Montserrat";
      font-weight: 700;
      color: white; }
      @media only screen and (min-width: 1024px) {
        .footer__div__title {
          font-size: 17px;
          text-align: center; } }
      @media only screen and (max-width: 768px) {
        .footer__div__title {
          font-size: 12px;
          padding-left: 30px; } }
    .footer__div__title:hover {
      color: #DEA426; }

@media only screen and (min-width: 1024px) {
  .formulario {
    margin: 50px 350px; } }

@media only screen and (max-width: 768px) {
  .formulario {
    margin: 25px 50px; } }

.th, .tdT {
  background-color: rgba(222, 164, 34, 0.7); }
  @media only screen and (min-width: 1024px) {
    .th, .tdT {
      font-weight: 900;
      border: solid 4px white;
      height: 90px;
      width: 150px;
      padding: 20px; } }
  @media only screen and (max-width: 768px) {
    .th, .tdT {
      font-weight: 700;
      border: solid 2px white; } }

@media only screen and (min-width: 1024px) {
  .td {
    font-weight: 200;
    border: solid 4px white;
    padding: 20px; } }

@media only screen and (max-width: 768px) {
  .td {
    font-weight: 100;
    border: solid 2px white; } }

@media only screen and (min-width: 1024px) {
  .divProducto {
    padding: 50px; } }

@media only screen and (max-width: 768px) {
  .divProducto {
    padding: 20px; } }

.divProducto__main {
  display: flex;
  justify-content: center;
  padding-bottom: 50px; }
  .divProducto__main__div {
    color: white;
    text-align: center;
    font-size: "Montserrat"; }
    .divProducto__main__div__tabla {
      background-color: rgba(0, 0, 0, 0.6);
      border: none; }
      @media only screen and (max-width: 768px) {
        .divProducto__main__div__tabla {
          margin-bottom: 25px;
          font-size: 10px; } }

.card-columns {
  margin: 30px; }

/*variables*/
/*variables*/
/*variables*/
.alingCenter {
  display: flex;
  justify-content: center; }

/*variables*/
/*variables*/
/*variables*/
.seccionIndex {
  padding: 100px 0; }

.textos {
  font-family: "Montserrat"; }
  .textos__encabezado {
    display: flex;
    justify-content: center;
    color: #DEA426;
    font-weight: 600; }
    @media only screen and (min-width: 1024px) {
      .textos__encabezado {
        font-size: 40px;
        padding-bottom: 35px; } }
    @media only screen and (max-width: 768px) {
      .textos__encabezado {
        font-size: 30px;
        padding-bottom: 25px; } }
  .textos__parrafo {
    font-weight: 300; }
    @media only screen and (min-width: 1024px) {
      .textos__parrafo {
        font-size: 18px;
        padding-right: 20px; } }
    @media only screen and (max-width: 768px) {
      .textos__parrafo {
        font-size: 15px;
        padding: 10px 50px; } }
    .textos__parrafo__strong {
      color: #DEA426;
      font-weight: 600; }

@media only screen and (min-width: 1024px) {
  .imgIndex {
    position: relative;
    top: 100px;
    left: 100px; } }

@media only screen and (max-width: 768px) {
  .imgIndex {
    margin-top: 50px; } }

/*variables*/
/*variables*/
/*variables*/
.colorHover {
  color: #DEA426 !important; }

.nav {
  background-color: #000000;
  font-family: "Montserrat";
  font-weight: 700; }
  @media only screen and (min-width: 1024px) {
    .nav {
      padding: 5px 70px;
      box-shadow: 0px 30px 70px #000;
      z-index: 5; } }
  @media only screen and (max-width: 768px) {
    .nav {
      box-shadow: 0px 10px 70px #000;
      z-index: 5; } }
  @media only screen and (min-width: 1024px) {
    .nav__logo__img--tamaño {
      height: 100px; } }
  @media only screen and (max-width: 768px) {
    .nav__logo__img--tamaño {
      height: 80px; } }
  .nav__menu__icon__img--tamaño {
    height: 25px; }
  .nav__titles__ul__li__link {
    color: white; }
    @media only screen and (min-width: 1024px) {
      .nav__titles__ul__li__link {
        font-size: 17px;
        padding-left: 30px !important; } }
    @media only screen and (max-width: 768px) {
      .nav__titles__ul__li__link {
        font-size: 12px; } }
  .nav__titles__ul__li__link:hover {
    color: #DEA426; }

.galeriaMain {
  margin-top: 60px; }

.colorBoton {
  color: white;
  background-color: black;
  border-color: white; }

.colorBoton:hover {
  color: #DEA426; }

.container-fluid {
  margin: 0px; }

.col-lg-12, .col-lg-6, .col-lg-4, .col-xs-12 {
  padding-left: 0;
  padding-right: 0; }
  @media only screen and (max-width: 768px) {
    .col-lg-12, .col-lg-6, .col-lg-4, .col-xs-12 {
      padding-left: 0;
      padding-right: 0; } }

.contenido {
  margin: 50px 0; }

.titulos {
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
  color: #DEA426;
  padding-top: 60px; }
  @media only screen and (min-width: 1024px) {
    .titulos {
      font-size: 40px; } }
  @media only screen and (max-width: 768px) {
    .titulos {
      font-size: 30px; } }
