@import "colores";
@import "fuentes";
@import "tamaños";

.footer {
	background-color: map-get($colores, colorBarras);
	padding: 5px 5px;
	align-items: center;


	font-family: map-get($fuentes, montserrat);
	font-weight: map-get($fuenteGrosor, link);

	&__div {
		display: flex;
  		justify-content: center;

		&__logo{
			@media only screen and (min-width: 1024px) {
				height: map-get($heightLogo, desktop);
			}

			@media only screen and (max-width: 768px) {
				height: map-get($heightLogo, mobile);
				padding-left: 25px;
				
			}
		}

		&__title {
				font-family: map-get($fuentes, montserrat);
				font-weight: map-get($fuenteGrosor, link);

			
				color: map-get($colores, blanco);

				@media only screen and (min-width: 1024px) {
					font-size: map-get($link, desktop);
					text-align: center;
				}

				@media only screen and (max-width: 768px) {
					font-size: map-get($link, mobile);
					padding-left: 30px;
					
				}
		
		}

		&__title:hover {
			color: map-get($colores, hover);
		}
	}
}