/*variables*/ 

$fuentes:(
	montserrat: 'Montserrat'
	);

$fuenteGrosor: (
	textos: 300,
	link: 700,
	titulos: 600,
	strong: 600
	);

$parrafos: (
	desktop: 18px,
	mobile: 15px
	);

$h1: (
	desktop: 40px,
	mobile: 30px
	);

$link: (
	desktop: 17px,
	mobile: 12px
	);