@import "colores";
@import "fuentes";
@import "tamaños";

.colorHover {
	color: map-get($colores, hover)!important;
}

.nav {
	
	background-color: map-get($colores, colorBarras);

	font-family: map-get($fuentes, montserrat);
	font-weight: map-get($fuenteGrosor, link);
	

	@media only screen and (min-width: 1024px) {
		padding: 5px 70px;
		box-shadow: 0px 30px 70px #000;
   		z-index: 5;
	}

	@media only screen and (max-width: 768px) {
		box-shadow: 0px 10px 70px #000;
   		z-index: 5;
	}


	&__logo {
		&__img--tamaño{
			@media only screen and (min-width: 1024px) {
				height: map-get($heightLogo, desktop);
			}

			@media only screen and (max-width: 768px) {
				height: map-get($heightLogo, mobile);
			}
			
		}
	}

	&__menu {
		&__icon{
			&__img--tamaño{
				height: map-get($heightMenu, mobile);
			}
		}
	}

	&__titles {
		&__ul {
			&__li {
				&__link {
					color: map-get($colores, blanco);

					@media only screen and (min-width: 1024px) {
						font-size: map-get($link, desktop);
						padding-left: 30px!important;
					}

					@media only screen and (max-width: 768px) {
						font-size: map-get($link, mobile);
					}

					}
				&__link:hover {
				color: map-get($colores, hover);
				}
			}
		}
	}
}