@import "colores";
@import "fuentes";
@import "tamaños";


.seccionIndex {
	padding: 100px 0;
}

@mixin alingCenter() {
	display: flex;
	justify-content: center;
}


.textos {
	font-family: map-get($fuentes, montserrat);

	&__encabezado {
		@include alingCenter();
		color: map-get($colores, titulos);
		font-weight: map-get($fuenteGrosor, titulos);

		@media only screen and (min-width: 1024px) {
			font-size: map-get($h1, desktop);
			padding-bottom: map-get($paddingTitle, desktop);
		}

		@media only screen and (max-width: 768px) {
			font-size: map-get($h1, mobile);
			padding-bottom: map-get($paddingTitle, mobile);
		}
	}

	&__parrafo {
		font-weight: map-get($fuenteGrosor, textos);


		@media only screen and (min-width: 1024px) {
			font-size: map-get($parrafos, desktop);
			padding-right: 20px;
		}

		@media only screen and (max-width: 768px) {
			font-size: map-get($parrafos, mobile);
			padding: 10px 50px;
		}

		&__strong {
			color: map-get($colores, strong);
			font-weight: map-get($fuenteGrosor, strong);
		}
	}
}

.imgIndex {
	@media only screen and (min-width: 1024px) {
		position: relative;
	    top: 100px;
	    left: 100px;
	}

	@media only screen and (max-width: 768px) {
		margin-top: 50px;
	}
}