@import "colores";
@import "fuentes";
@import "tamaños";
@import "footer";
@import "formulario";
@import "productos";
@import "testimonios";
@import "contacto";
@import "textosIndex";
@import "nav";
@import "galeria";

@mixin alingCenter() {
	display: flex;
	justify-content: center;
}


.container-fluid{
	margin: 0px;
}


.col-lg-12, .col-lg-6, .col-lg-4, .col-xs-12 {
	padding-left: 0;
	padding-right: 0;
		@media only screen and (max-width: 768px) {
			padding-left: 0;
			padding-right: 0;

	}
}

.contenido{
	margin: 50px 0
}

.titulos{
	@include alingCenter();
	font-family: map-get($fuentes, montserrat);
	color: map-get($colores, titulos);
	padding-top: 60px;

	@media only screen and (min-width: 1024px) {
		font-size: map-get($h1, desktop);
	}

	@media only screen and (max-width: 768px) {
		font-size: map-get($h1, mobile);
	}
}